body {
    font: 1.25em Verdana;
    margin: 2em;
}
input {
    font-size: 1em;
    padding: 0.5em;
}
input[type='button'] {
    cursor: pointer;
}
.menuBtn {
    float: right;
    padding: 1rem;
    font-size: 1.3rem;
    font-style: italic;
}
#catalogBtn {
    margin-right: 0.5%;
}
#registrationBtn {
    margin-left: 0.5%;
}
#loggedInSection {
    float: right;
    display: none;
    border: 0.1em solid black;
    border-radius: 0.4em;
    padding: 1em 1.5em;
}
#loggedUserUsernameP{
    margin-top: 0.5em;
    text-align: center;
}
#loggedUserProfilePhotoImg {
    width: 4em;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}