body {
    text-align: center;
}
input {
    padding: 0.5em;
    font-size: 0.8em;
}
#userPanel {
    position: absolute;
    right: 0;
    margin-right: 2em;
}
#loginBtn {
    margin-left: 0em;
}
#title {
    padding: 0.6em;
    font-style: italic;
}
#searchSection {
    font-size: 1em;
    margin: 0.5% 0;
    padding: 0.5em;
    font-style: italic;
}
#searchParamSelect {
    font-size: 0.8em;
    padding: 0.5em;
    font-style: italic;
    text-align: center;
}
#titleInput {
    width: 25%;
    font-style: italic;
}
#submitSearchBtn {
    cursor: pointer;
}
.genreCheckbox {
    height: 0.9em;
    width: 0.9em;
    cursor: pointer;
}
.genreLabel {
    font: italic 0.8em Verdana;
}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#searchResultTable {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.9em;
}
#searchResultTable td, th{
    border: 0.05em solid black;
    border-radius: 0.2em;
    text-align: left;
}
#searchResultTable th {
    padding: 0.5em 0.5em;
}
#searchResultTable td {
    padding: 0.5em 0.3em;
}
#resultsControlArea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
th {
    padding-bottom: 0.8em;
}
.bookRow {
    cursor: pointer;
}
.bookRow:hover {
    background-color: #9fcbf6;
}
.controlBtn {
    font-size: 0.8em;
    padding: 0.7em;
    display: none;
}
.shortTh {
    width: 1em;
}